.Status{
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: 14px;
  line-height: 24px;
  font-weight: 600;
  color: #262626;

  &:before{
    content: '';
    display: block;
    margin-right: 5px;
    width: 16px;
    height: 20px;
    background: url("../../../image/AboutCourseSection/status.svg") no-repeat center center / contain;
  }

}